/*
1.Posicionamiento
2.Modelo de caja (Box Model)
3.Tipografia
4.Visuales
5.Otros
*/

:root {
  /* Colores */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --black: #201e1c;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 354px;
  text-align: center;
  background: linear-gradient(207.8deg,
      #f57e7e 16.69%,
      #fd1b0b 100%,
      #fffcfc 44.69%);
}

header img {
  width: 180px;
  height: 110px;
  margin-top: 60px;
  align-self: center;
  border-radius: 8px;
  box-shadow: 3px 3px 15px ;
}

.header__title_container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
  background: rgba(197, 7, 255, 0.082);
  border: none;
  border-radius: 4px;
}

.header__title_container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.header__title_container p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
  margin: 24px 0px;
}

.header__title_container .header__button {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  top: 285px;
  display: block;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
  line-height: 1.8rem;
}

.header__title_container span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url("./assets/icons/down-arrow.svg");
}

main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}
/* 1RA SECCION */

.main__precios__container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--off-white);
}

.main__precios__container .main__precios__container__title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

.main__precios__container .background-image {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url("./assets/img/uñas1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main__precios__container h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.main__precios__container p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}

/*Seccion de Tablas*/
/*TABLA N°1*/
.main__currency__table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

.main__currency__table .main__currency__table__title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--bitcoin-orange);
}

.main__currency__table__container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}

.main__currency__table__container table {
  width: 100%;
  height: 100%;
}

.main__currency__table__container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);
  background-color: var(--just-white);
}

.main__currency__table__container .table-top-left {
  border-radius: 15px 0 0 0;
}

.main__currency__table__container .table-top-right {
  border-radius: 0 15px 0 0;
}

.main__currency__table__container .table-bottom-left {
  border-radius: 0 0 0 15px;
}

.main__currency__table__container .table-bottom-right {
  border-radius: 0 0 15px 0;
}

.main__currency__table__container .table-right {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}

.main__currency__table__container .down {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background: url("./assets/icons/trending-down.svg") center/cover no-repeat;
}

.main__currency__table__container .up {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("./assets/icons/trending-up.svg") center/cover no-repeat;
  margin-left: 5px;
}

.main__currency__table .currency__table__update {
  width: 195px;
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px;
  background-color: var(--soft-orange);
  border-radius: 8px;
}

.currency__table__update p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--warm-black);
}

/*TABLA N°2*/
.main_tables_container {
  font-family: "Inter", monospace;
}

.main__comi__container {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

.main__comi__container .main__comi__container__title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--secondary-blue);
}

.main__comi__container .main__grid__container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #ffffff;
  border-radius: 8px;
  color: #b5b0ac;
}

.main__comi__container .main__grid__container .main__grid-child {
  display:flex;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  padding: 10px 12px;
  text-align: left;
  border: 1px solid var(--off-white);
  justify-content:center;
  align-items: center;
  border-radius: 8px;
}

.main__comi__container .main__grid__container .value {
  color: #757575;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.694rem;
  text-align: center;
}

.main__comi__container .main__grid__container .up {
  display: inline-block;
  width: 13px;
  height: 8px;
  background: url("./assets/icons/trending-up.svg") center/cover no-repeat;
  margin-left: 5px;
}

.main__comi__container .main__grid__container .down {
  display: inline-block;
  width: 13px;
  height: 8px;
  background: url("./assets/icons/trending-down.svg") center/cover no-repeat;
  margin-left: 5px;
}

.comi__table__update {
  color: var(--warm-black);
  width: 195px;
  height: 30px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: #e7f5ff;
  margin-top: 16px;
}

.comi__table__update p {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.45rem;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px;
  color: var(--warm-black);
}

/* 2DA SECCION */

.main__product__detail
{
  position: relative;
  width: 100%;
  min-width: 320px;
  height:auto;
  padding: 20px 10px;
  background-color: var(--black);
}
.product__detail__batata_logo
{
  position: absolute;
  width:40px;
  height:25px;
  top:-10px;
  left:calc(50% - 20px);
  background-image:url('./assets/icons/batata.svg');
}
.product__detail__title
{
  width:90%;
  min-width: 288px;
  height:auto;
  margin: 0 auto;
  margin-top:50px;
  text-align: center;
}
.product__detail__title h2
{
  margin-bottom:20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height:2.6rem;
  color:var(--just-white);
}
.product__detail__title p
{
  margin-bottom:20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height:1.8rem;
  color:#808080;
}
.product__cards__container .product__detail__card
{
  width: 90%;
  min-width: 288px;
  max-width:400px;
  min-height: 150px;
  margin: 15px auto;
  padding:15px;
  background-color:var(--warm-black);
  border-radius:5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product__cards__container .product__detail__card .clock
{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background: url('./assets/icons/clock.svg') center/cover no-repeat;
}
.product__cards__container .product__detail__card .eye
{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background: url('./assets/icons/eye.svg') center/cover no-repeat;
}
.product__cards__container .product__detail__card .money
{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background: url('./assets/icons/dollar-sign.svg') center/cover no-repeat;
}
.product__cards__container .product__detail__card .check
{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background: url('./assets/icons/check-circle.svg') center/cover no-repeat;
}
.product__detail__card .product__card_title
{
  margin-bottom:15px;
  font-size:1.8rem;
  font-weight: bold;
  line-height:1.8rem;
  color:var(--just-white)
}
.product__detail__card .product__card_body
{
  font-size: 1.4rem;
  font-weight:500;
  line-height:1.8rem;
  color:#808080;
}
/* 3RA SECCION */
.img__publi
{
  width:100%;
  min-width: 320px;
  min-height:387px;
  background: url('./assets/img/bitcoinbaby2x.jpg') center/cover no-repeat;
  text-align: center;
}
.img__publi h2
{
  padding-top:60px;
  font-size:2.6rem;
  font-weight: bold;
  color:var(--just-white);
}